@import "src/app/shared/style/mixin";
@import "src/app/shared/style/variable";

.mat-typography {
  background-color: $background-color;
  position: relative;
  top: 100px;

  mat-icon {
    color: white;
    font-size: 25px;
    cursor: pointer;
  }
}

mat-dialog-actions {
  background-color: $background-color;
  @include flex-justify-content(end);
}

mat-dialog-content {
  overflow-x: hidden;
}

.create-task {
  @include flex-row;

  flex-direction: column;
  width: 700px;
  color: white;

  &-settings {
    @include flex-row;
    flex-direction: column;
  }


}
