<section class="all-task-filter">
  <div>
    <app-filter
      (changeFilter)="filterTaskList($event)"
      [taskList$]="taskList$"
    ></app-filter>
  </div>

  <div class="all-task-filter_group">
    <app-sort
      (sortValue)="filterTaskList($event)"
      [taskList$]="taskList$"
    ></app-sort>
    <app-group-by
      (groupByTaskList)="groupTaskList($event)"
      [taskList$]="taskList$">
    </app-group-by>
  </div>

  <div [ngClass]="(groupByTaskList$ | async)?.length ? 'show-task-list-group' :'show-task-lists'">
    @if (!(groupByTaskList$ | async)?.length) {

      @for (task of taskList$ | async; track task) {
        <app-task-list-item
          [taskItem]="task"
        ></app-task-list-item>
      }
    } @else {
      @for (task of groupByTaskList$ | async; track task) {
        @for (key of Object.keys(task); track key) {
          <div class="show-task-lists_group">
            <h1> {{ key | convert }}</h1>
            @for (value of task[key]; track value) {
              <app-task-list-item
                [taskItem]="value"
              ></app-task-list-item>
            }
          </div>
        }
      }
    }
  </div>
</section>
