<section>
  <div>
    <h4>Фильтрация</h4>
    <app-filter
      (changeFilter)="filterTaskList($event)"
      [taskList$]="taskList$"
    ></app-filter>
  </div>
  <div>
    <h4>Сортировка</h4>
    <app-sort
      (sortValue)="filterTaskList($event)"
      [taskList$]="taskList$"
    ></app-sort>
  </div>
  <app-group-by></app-group-by>
  <div class="show-task-lists">
    @for (task of taskList$ | async; track task) {
      <div class="show-task-lists-block" (click)="openTask(task.id)">
        <div class="show-task-lists-block_name">
          <img
            class="show-task-lists-block_check"
            width="16"
            height="16"
            ngSrc="assets/svg/check.svg" alt="">
          <span>{{ task.title }}</span>
        </div>
        <div>
          <p class="show-task-lists-block_round"
             [backgroundColor]="{'status':task.status}">{{ task.status }}</p>
          <p class="show-task-lists-block_round"
             [backgroundColor]="{'priority':task.priority}">{{ task.priority }}</p>
        </div>
        <div class="show-task-lists-block-userBlock">
          <div class="show-task-lists-block-userBlock">
            @for (users of task?.performers; track users) {
              <p class="show-task-lists-block-userBlock_usersName">{{ users | slice:0:1 }}</p>
            }
          </div>
          <div>
            <p>{{ task.deadline | datePipe }}</p>
          </div>
        </div>
      </div>
    }
  </div>
</section>
