<mat-dialog-content class="mat-typography">
  <section class="create-task">
    <div class="create-task-settings">
      <div class="create-task-title">
        <app-input
          [label]="'Заголовок'"
        ></app-input>
      </div>
      <div>
        <app-select
          [label]="'Исполнитель'"
        ></app-select>
      </div>

      <div>
        <app-datapicker></app-datapicker>
      </div>
      <div>
        <app-select
          [label]="'Приоритет'"
        ></app-select>

      </div>
      <div>
        <app-select
          [label]="'Статус'"
        ></app-select>
      </div>
      <div>
        <!--        <mat-label>Описание</mat-label>-->
        <!--        <mat-form-field>-->
        <!--          <textarea matInput-->
        <!--                    cdkTextareaAutosize-->
        <!--                    #autosize="cdkTextareaAutosize"-->
        <!--                    cdkAutosizeMinRows="1"-->
        <!--                    cdkAutosizeMaxRows="5"></textarea>-->
        <!--        </mat-form-field>-->
      </div>
    </div>

  </section>


</mat-dialog-content>
<!--<mat-dialog-actions align="end">-->
<!--  <button mat-button mat-dialog-close>Cancel</button>-->
<!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
<!--</mat-dialog-actions>-->



