@import "src/app/shared/style/mixin";
@import "src/app/shared/style/variable";

.select-accessor {
  @include flex-align-center;
  position: relative;

  mat-icon {
    position: absolute;
    z-index: 999;
    right: 7px;
    top: 17px;
  }

  &_label {
    width: 150px;
  }

}

mat-form-field {
  width: 300px;
}

mat-label {
  width: 150px;
}


