<section class="filter">
  <h4>Фильтрация</h4>
  <div class="filter_select">
    <app-select
      [formControl]="statusControl"
      [placeholder]="'Статус'"
      [optionValue]="status"
    >
    </app-select>
    <app-select
      [formControl]="performersControl"
      [placeholder]="'Исполнители'"
      [optionValue]="performers"
    >
    </app-select>
    <app-datapicker
      [formControl]="deadlineControl"
      [placeholder]="'Срок выполнения'">
    </app-datapicker>
  </div>
</section>
