/* You can add global styles to this file, and also import other style files */
@import "src/app/shared/style/variable";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: $background-color !important;
  border: 1px solid grey;
}

mat-select-trigger,
mat-select,
.mat-mdc-input-element {
  color: white !important;
}

.mat-mdc-select-placeholder {
  color: white!important;
}
