<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">

    <div class="toolbar_leftSight">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="toolbar_add">
        <mat-icon>add</mat-icon>
        <span>Создать</span>
      </div>
    </div>

    <div class="toolbar_search">

      <input type="text" matInput placeholder="Поиск">
      <mat-icon>search</mat-icon>
    </div>
    <div class="toolbar_user">
      <div>
        <span>NG</span>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <nav>
          <ul>
            <li>
              <img ngSrc="assets/svg/home.svg" width="18" height="18" alt="">
              <a routerLink="main/create-task">Главная</a>
            </li>

            <li>
              <img ngSrc="assets/svg/check.svg" width="18" height="18" alt="">
              <a routerLink="main/all-task">My Tasks</a>
            </li>
          </ul>
        </nav>

        <div class="sidenav-container_project">
          <button (click)="showProjectsList()">
            <img
              [ngClass]="visible ? 'left':'down'"
              ngSrc="assets/svg/down-arrow.svg" width="10" height="10">
          </button>
          <button (click)="showProjectsList()">Проекты</button>

          @if (visible) {
            <div class="sidenav-container_project-block">
              <div class="sidenav-container_project-block_status"></div>
              <span class="sidenav-container_project-block_name"
                    routerLink="main/create-task">Test Asana</span>
            </div>
          }
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
